<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Avg price:</b>
  <%= @place.avg_price %>
</p>

<p>
  <b>Ranking:</b>
  <%= @place.ranking %>
</p>

<p>
  <b>City:</b>
  <%= @place.city %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
